# Created by .ignore support plugin (hsz.mobi)
/project/project
/target
/out
.DS_Store

### Vagrant ###
.vagrant/

### HSQLDB ###
/hsql

### Gradle ###
.gradle
build/

### Ignore Gradle GUI config ###
gradle-app.setting

### Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored) ###
!gradle-wrapper.jar

### Cache of project ###
.gradletasknamecache

### User-specific stuff: ###
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries

### Sensitive or high-churn files: ###
.idea/dataSources.ids
.idea/dataSources.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml

### Gradle: ###
.idea/gradle.xml
.idea/libraries

### Mongo Explorer plugin: ###
.idea/mongoSettings.xml

### File-based project format: ###
*.ipr
*.iws

/project/target
